.App {
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  height: 60px;
  margin-bottom: 16px;
}

.header {
  height: 15rem;
}

.logo {
  text-align: left;
  height: 100px;
  background-color: #ccc;
  margin-bottom: 16px;

  display: flex;
  align-items: center;
  padding: 0 15px;
}

.main {
  display: flex;
}

.sidebar {
  height: 70vh;
  width: 30vw;
  margin-right: 16px;
  padding: 0 15px;
}

/* sec-2 */

.header-part {
  display: flex;
  justify-content: space-between;
  padding-inline: 60px;
  height: 60px;
  background-color: #ccc;
  margin-bottom: 16px;
}

.header-part .logo {
  max-height: 100%;
}

.info {
  height: 120px;
}

.box_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  height: 60vh;
}

.dashboard {
  width: 100%;
  height: 100%;

  .list {
    height: 60px;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 26px;

    .title {
      display: flex;
      gap: 25px;

      .bookImg {
        width: 50px;
        height: 50px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .bookTitle {
        flex-direction: column;
        display: flex;
        align-items: flex-start;
      }
    }
    .crud_btn {
      display: flex;
      gap: 20px;
      cursor: pointer;
    }
  }
}
.edit-form {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
}

.edit-form h3 {
  margin: 0 0 10px 0;
}

.edit-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.edit-form form > div {
  margin-bottom: 10px;
}

.edit-form form label {
  margin-right: 10px;
}

.edit-form form input {
  width: 100;
}
